# Supabase
SUPABASE_URL=https://etfnkdvsktxljlcuqtey.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0Zm5rZHZza3R4bGpsY3VxdGV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwNTM3MTQsImV4cCI6MjA5MzYyOTcxNH0.kPqhzOr8AJ5TjtjaEQYjpwUd0bAKVDmPzvjySxuu2MU
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0Zm5rZHZza3R4bGpsY3VxdGV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA1MzcxNCwiZXhwIjoyMDkzNjI5NzE0fQ.nTC3_JPi23FDR9RwFCyr8-065szlHwFao59EYeN2tOk

# JWT
JWT_SECRET=hyAFf%ppvx9>n[aro=zB(SZ%f?}tVSqB!}eH&Updju4%z^_&UFK

# Telegram Bot
TELEGRAM_BOT_TOKEN=8041079563:AAGVOXvtGyPtfANevmVL0T29GGxQKzdaLCw

# App
DEBUG=false
PORT=8000
